.home-content {
    margin: (115px + 70px) 708px 265px 120px;
    max-width: 612px;
    p {
        font-family:'Red Hat Display' !important;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 36px;
        color: #5A6774;
    }
}

.home-title {
    font-style: normal;
    
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #062847;
}