.default-button{
    width: 101px;
    height: 40px;
    left: 120px;
    top: 595px;
    background: #1890FF;
    border-radius: 4px;
    border: 0;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }
}