.header-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #1890FF;
    color: #fff;
    align-content: center;
}

.header-title {
    margin-left: 40px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration:none;
}